.footer {
  margin: 120px 60px 40px 60px;
  padding: 50px;
  text-align: center;
}

.footer-content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #ff6a00;
  margin-bottom: 25px;
  letter-spacing: 1px;
}


.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
}

.footer-links a {
  text-decoration: none;
  color: #cccccc;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #ff6a00;
}

.footer-copy {
  opacity: 0.6;
  font-size: 14px;
}
